@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article>
        <h1 class="display-4">Bienvenidos</h1>

        <p>Les presento a mi mascota:</p>

        <p>
            <img src="https://i.imgur.com/qAbhy5q.jpg" alt="Mi gata Luna" style="max-width: 60%; height: auto;">
        </p>

        <p>Es una gata llamada Luna de 6 meses de raza calico.</p>
    </article>
</div>